@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.cards,
.cards-folders-container{
    align-self: flex-start;
    margin-left: 250px;
    font-family: 'Roboto';
}

.card {
    margin-right: 250px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card p:first-child {
    margin-left: 20px;
}

.edit-button {
    margin-right: 250px;
}
