.dictionary-page {
  height: 100vh;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  font-family: "Outfit", sans-serif;
  margin-top: 20px;
}

.accordion {
  color: #3B3B3B;
}

.accordion-summary {
  color: #3B3B3B;
  cursor: default;
  text-decoration: none;
}

.accordion-details p {
  color: #3B3B3B;
}

.accordion-details ul {
  list-style-type: none;
}

.accordion-details li {
  margin-bottom: 8px;
}

.accordion-details-list {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

.search-bar {
  display: flex;
  align-items: center;
  padding: 10px;
}

.search-icon {
  margin-right: 10px;
  color: #3B3B3B;
}

.search-bar-inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 75%;
  margin: 0 auto;
  cursor: text;
  padding: 8px;
  border: 1px solid #ccc;
  background-color: #fff;
}

.search-input {
  flex: 1;
  border: none;
  background-color: transparent;
  color: #3B3B3B;
  font-family: "Outfit", sans-serif;
  font-size: 16px;
  outline: none;
}

.search-input .MuiInputBase-root {
  width: 100%;
}

.search-redirect {
  width: 75%;
  align-self: center;
}

.accordion-container {
  width: 75%;
  margin: 0 auto;
  margin-top: 16px;
}

.accordion-container ul {
  list-style-type: none;
}

.selected-article {
  margin-top: 16px;
  border: 1px solid #ccc;
  padding: 16px;
}

.page-content {
  width: 75%;
  margin: 0 auto;
  text-align: left;
}

.dictionary-page::after {
  content: "";
  display: block;
  height: 15%;
  background: linear-gradient(to right, #27B49A, #00B6BD);
  margin-top: auto;
}

.accordion-details a.MuiLink-root {
  color: inherit;
  text-decoration: none;
  cursor: default;
}

.accordion-details a:hover,
.accordion-details a:focus {
  text-decoration: none;
  color: #000;
}