.dictionary-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
}

.search-bar-inner {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 75%;
  margin: 0 auto;
  cursor: text;
  padding: 8px;
  border: 1px solid #ccc;
}

.search-input {
  flex-grow: 1;
  margin-right: 8px;
}

.search-input .MuiInputBase-root {
  width: 100%;
}

.search-redirect {
  width: 75%;
  align-self: center;
}

.accordion-container {
  width: 75%;
  margin: 0 auto;
  margin-top: 16px;
}

.accordion-container ul {
  list-style-type: none;
}

.selected-article {
  margin-top: 16px;
  border: 1px solid #ccc;
  padding: 16px;
}

.page-content {
  width: 75%;
  margin: 0 auto;
  text-align: left;
}